/* src/components/footer.css */
.contact-footer {
  background-color: hwb(229 1% 80% / 0.716);
  color: #ecf0f1;
  padding: 40px 0 20px;
  font-family: 'Arial', sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-info-card, .footer-quick-links, .footer-newsletter {
  flex: 1;
  min-width: 300px;
  margin: 20px;
  padding: 20px;
}

.contact-info-card h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight:500px;
}

.contact-info-list {
  list-style: none;
  padding: 0;
}

.contact-info-list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-icon {
  margin-right: 10px;
  color: white;
  font-size: 24px;   /* increase size here */
}

.contact-info-list a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 18px;
}

.social-section h4 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: white;
  font-size: 24px;
  font-weight:500px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  font-size: 24px;
  color: #ecf0f1;

  background-color: white;   /* background color */
  width: 42px;
  height: 42px;
  border-radius: 50%;       /* circle shape */

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s, background-color 0.3s;
}

.social-icon:hover {
  transform: scale(1.15);
  background-color: white;  /* hover background */
}




/* Quick Links Styles */
.footer-quick-links h3 {
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight:500px;
}

.footer-quick-links ul {
  list-style: none;
  padding: 0;
}

.footer-quick-links ul li {
  margin-bottom: 6px;
  color: #ecf0f1;
  font-size: 24px;
}

.footer-quick-links ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.footer-quick-links ul li a:hover {
  color: white;
  padding-left: 5px;
}

/* Newsletter/Developer Styles */
.footer-newsletter h3 {
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight:500px;
}

.footer-newsletter p {
  color: #ecf0f1;
  font-size: 18px;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #34495e;
  font-size: 14px;
  color: #bdc3c7;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
  
  .contact-info-card, .footer-quick-links, .footer-newsletter {
    margin: 10px 0;
    min-width: 100%;
  }
}